@{
    ViewBag.Title = "Exercises";
}

<div class="jumbotron">
    <h1>@ViewBag.Exercise.Name</h1>
    @*<div>
            <a href="@Url.Action("Muscle", "Muscle", new { muscleId = @ViewBag.Exercise.PrimaryMuscle.Id })">@ViewBag.Exercise.PrimaryMuscle.MuscleName</a>
            <p>@ViewBag.Exercise.WeightType.Type</p>
            <p>@ViewBag.Exercise.DifficultyLevel.Level</p>
            <p>@ViewBag.Exercise.Description</p>
        </div>*@
    <table style="width:100%">
        <col width="20%">
        <col width="80%">
        <tr>
            <td><em>Muscle</em></td>
            <td><a href="@Url.Action("Muscle", "Muscle", new { muscleId = @ViewBag.Exercise.PrimaryMuscle.Id })">@ViewBag.Exercise.PrimaryMuscle.MuscleName</a></td>
        </tr>
        <tr>
            <td><em>Weight Type</em></td>
            <td><p>@ViewBag.Exercise.WeightType.Type</p></td>
        </tr>
        <tr>
            <td><em>Difficulty</em></td>
            <td><p>@ViewBag.Exercise.DifficultyLevel.Level</p></td>
        </tr>
        <tr>
            <td><em>Description</em></td>
            <td><p>@ViewBag.Exercise.Description</p></td>
        </tr>
    </table>
    <br />
</div>